.first {
  background-color: #ff1500;
}

.second {
  background-color: #00fff8;
}

.third {
  background-color: #0007ff;
}

.fourth {
  background-color: #ffbe00;
}

.flex-ex {
  width: 120px;
  height: 50px;
  margin-right: 5px;
}

input[type="radio"]:checked + .radio-label {
  background-color: #01ff00;
}

